.card-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line if they overflow */
  gap: 16px; /* Space between cards */
  justify-content: center; /* Center cards horizontally */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin: 0;
  flex: 1 1 300px; /* Flex properties for responsiveness */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  height: 50%;
  width: 100%;
}

.card-content {
  padding: 16px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  /* padding: 8px; */
  color: black;
  background-color: #E3F2FD;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 8px;
}

button.delete {
  background-color: #f28a8a;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

