<nav>
     <!-- Main Sidebar -->
<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0" style="background-color:#E3F2FD">
    <div class="main-navbar" >
      <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0" >
        <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;" style="background-color:#E3F2FD">
          
          <div class="d-table m-auto" >
            <span class="d-none d-md-inline ml-1"> Dashboard</span>
          </div>
        </a>
        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
          <i class="material-icons">&#xE5C4;</i>
        </a>
      </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
      <div class="input-group input-group-seamless ml-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
      </div>
    </form>
    <div class="nav-wrapper">
      <ul class="nav flex-column" *ngIf="userRole === 'admin'">
      
        <li class="nav-item">
          <a class="nav-link " routerLink="/dashboard" routerLinkActive="active">
            <i class="material-icons">dashboard</i>
            <span> Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" routerLink="/room" routerLinkActive="active">
            <i class="material-icons">bed</i>
            <span>Rooms</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booking" routerLinkActive="active">
            <i class="material-icons">book_online</i>
            <span>Bookings</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/package" routerLinkActive="active">
            <i class="material-icons">holiday_village</i>
            <span>Packages</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payment" routerLinkActive="active">
            <i class="material-icons">payments</i>
            <span>Payments</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/analytics" routerLinkActive="active">
            <i class="material-icons">analytics</i>
            <span>Analytics</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer" routerLinkActive="active">
            <i class="material-icons">people</i>
            <span>Customers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="material-icons">settings</i>
            <span>Settings</span>
          </a>
        </li>
      </ul>

      <ul class="nav flex-column" *ngIf="userRole === 'customer'">
        <li class="nav-item">
          <a class="nav-link " routerLink="/customerHome" routerLinkActive="active">
            <i class="material-icons">dashboard</i>
            <span> Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customerBookings" routerLinkActive="active">
            <i class="material-icons">book_online</i>
            <span>CustomerBookings</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customerPayments" routerLinkActive="active">
            <i class="material-icons">payments</i>
            <span>CustomerPayments</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="material-icons">settings</i>
            <span>Settings</span>
          </a>
        </li>
      </ul>
      
    </div>
  </aside>
  <!-- End Main Sidebar -->
</nav>