<body>
    
<!-- sign-up.component.html -->
<!-- src/app/sign-up/sign-up.component.html -->
<div class="container">
    <div class="heading">Sign Up</div>
    <form class="form" (ngSubmit)="onSignUp()" #signUpForm="ngForm">
      <input
        placeholder="Username"
        id="username"
        name="username"
        type="text"
        class="input"
        ngModel
        required
      />
      <input
        placeholder="E-mail"
        id="email"
        name="email"
        type="email"
        class="input"
        ngModel
        required
      />
      <input
        placeholder="Password"
        id="password"
        name="password"
        type="password"
        class="input"
        [(ngModel)]="password"
        required
      />
      <input
        placeholder="Confirm Password"
        id="confirmPassword"
        name="confirmPassword"
        type="password"
        class="input"
        [(ngModel)]="confirmPassword"
        required
      />
      <div *ngIf="passwordMismatch" class="error-message">Password do not match</div>
      <input value="Sign Up" type="submit" class="signup-button" />
      <p class="p">Already have an account?
      <input value="Back to Sign In" type="button" class="back-button" (click)="navigateToSignIn()" />
    </form>
  </div>
  
  

</body>

  