<router-outlet></router-outlet>

<div class="container-fluid">
    <div class="row">
     
  
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-navbar sticky-top bg-white">
          <!-- Main Navbar -->
          <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
            <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
              <div class="input-group input-group-seamless ml-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
              </div>
            </form>
            <ul class="navbar-nav border-left flex-row">
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <img class="user-avatar rounded-circle mr-2" style="border-radius: 50%; width: 40px; height: 40px;" src="assets/images/avatars/me.jpeg" alt="User Avatar">
                  <span class="d-none d-md-inline-block">Maryam Daud</span>
                </a>
                <div class="dropdown-menu dropdown-menu-small">
                  <a class="dropdown-item" href="#">
                    <i class="material-icons">&#xE7FD;</i> Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" href="#">
                    <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                </div>
              </li>
            </ul>
            <nav class="nav">
              <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                <i class="material-icons">&#xE5D2;</i>
              </a>
            </nav>
          </nav>
        </div>
        <!-- / .main-navbar -->
        <div class="main-content-container container-fluid px-4">
          <!-- Page Header -->
          <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
              <h1 class="page-title">Payments </h1>
             
            </div>
          </div>
          <!-- End Page Header -->
         
          
           <!--tables insert here  -->

           <section class="table__header">
        </section>
        <section class="table__body">
            <h4>Customer  Payments</h4>

            <table>
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Customer Name</th>
                        <th> Room Type </th>
                        <th> Room Price </th>
                        <th> Package Type</th>
                        <th> Package Price</th>
                        <th> Day Spent </th>
                        <th> Payment Status </th>
                        <th> Total Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> Mukhtar Mohammed Saleh</td>
                        <td> Suite </td>
                        <td> $678 </td>
                        <td>Honey Moon</td>
                        <td> $200 </td>
                        <td> 15 </td>
                        <td>
                            <p class="status paid">Paid</p>
                        </td>
                        <td> <strong> $10,000.90 </strong></td>
                    </tr>
                    
                   
                </tbody>
            </table>
        </section>
          <!-- end of table -->

        </div>
        <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
          <span class="copyright ml-auto my-auto mr-2"> 2024
            <a href="https://wa.me/774567888" rel="nofollow">m67y6m</a>
          </span>
        </footer>
      </main>
    </div>
  </div>
